{% for message in messages %}
<|im_start|>{{ message.role }}
    {% if message.role == 'system' %}
{{ message.content }}
<|im_end|>
    {% endif %}
    {% if message.role == 'user' %}
{{ message.content }}
<|im_end|>
    {% endif %}
    {% if message.role == 'assistant' %}
        {% if message.content and message.content | length > 0 %}
            {% if tool_calls %}
message:
            {% endif %}
{{ message.content }}
<|im_end|>
        {% endif %}
        {% if 'tool_calls' in message %}
            {% for tool_call in message.tool_calls %}
functions.{{ tool_call.function.name }}:
{{ tool_call.function.arguments }}
            {% endfor %}
<|im_end|>
        {% endif %}
    {% endif %}
    {% if tools %}
<|im_start|>
You have access to the following functions:
{% for tool in tools %}
    functions.{{ tool.function.name }}:
{{ tool.function.parameters | tojson }}
{% endfor %}
You can respond to users messages with either a single message or one or more function calls.
To respond with a message begin the message with 'message:', use the following format:
* With arguments:
<tool_call>{ "name": "function_name", "arguments": {"argument_name": "value"} }</tool_call>
* Without arguments:
<tool_call>{ "name": "function_name", "arguments": null }</tool_call>
<|im_end|>
    {% endif %}
{% endfor %}
{% if add_generation_prompt %}<|im_start|>assistant\n{% endif %}